{% extends 'base.html' %}


{% block content %}
{% load static %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>
<body bgcolor="cyan">
<hr></hr>
    <div class="container">
        <h3 align="center">Family Members</h3>
        <div class="row">
            {% for mem in obj1 %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img class="card-img-top" src="{{ mem.photo.url }}" alt="{{ mem.name }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ mem.name }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Siblings:</h6>
                        <ul class="list-unstyled">
                            {% for sibling in mem.siblings.all %}
                            <li>{{ sibling.name }}</li>
                            {% endfor %}
                        </ul>
                         <h6 class="card-subtitle mb-2 text-muted">Children:</h6>
                        <ul class="list-unstyled">
                            {% for child in mem.children.all %}
                            <li>{{ child.name }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
{% endblock %}
