{% extends 'base.html' %}

{% block content %}
    {% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Dashboard | Family</title>
  <script src="https://kit.fontawesome.com/a1211d0a86.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/css/gallery.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/gallery.css' %}"/>
</head>

<body>

  <div class="wrapper">
    <div class="sidebar">
      <h2>THE FAMILY</h2>
      <ul>
        <li><a href="/"><i class="fas fa-home"></i>Dashboard</a></li>
        <li><a href="/tree"><i class="fas fa-people-group"></i>Family Tree</a></li>
        <li><a href="/member"><i class="fas fa-user"></i>Profile</a></li>
        <li class="active"><a href="/images"><i class="fas fa-image"></i>Gallery</a></li>
      </ul>
      <div class="logout">
        <a href="#">Logout
          <i class="fas  fa-arrow-right-from-bracket"></i></i>
        </a>
        <!-- <a href="#">Logout<i class="fab fa-instagram"></i></a> -->
      </div>
    </div>
    <div class="main_content">
      <div class="header">
        <div class="search-bar">
         <form action="{% url 'images' %}" method="GET">
        <input type="text" name="search" class="form-control" placeholder="Search for members..." autocomplete="off" value="{{ request.GET.search }}">
        <button type="submit" class="search-button"><i class="fas fa-magnifying-glass"></i></button>
    </form>
        </div>
        <div class="profile">
          <i class="fas fa-bell"></i>
          <div class="user">
            <img class="user-photo" src="{% static "/images/profile.jpg" %}" alt="Robert Muhoho">
          </div>
        </div>
      </div>
      <div class="gallery">
    <h2 class="gallery-title">Family gallery</h2>
    <hr class="gallery-line">
    <div class="grid-container">
        {% for member in members %}
        <div class="grid-item">
            <img src="{{ member.photo.url }}" style="width: 318px; height: 222px; border-radius: 10px;" class="image" alt="{{ image.name }}">
        </div>
        {% endfor %}
    </div>
</div>
      </div>
    </div>
  </div>

</body>

</html>
{% endblock %}

