{% extends 'base.html' %}

{% block content %}
    {% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Dashboard | Family</title>
  <script src="https://kit.fontawesome.com/a1211d0a86.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/css/member.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/member.css' %}"/>
</head>

<body>

  <div class="wrapper">
    <div class="sidebar">
      <h2>THE FAMILY</h2>
      <ul>
        <li><a href="/"><i class="fas fa-home"></i>Dashboard</a></li>
        <li><a href="/tree"><i class="fas fa-people-group"></i>Family Tree</a></li>
        <li class="active"><a href="/member"><i class="fas fa-user"></i>Profile</a></li>
        <li><a href="/images"><i class="fas fa-image"></i>Gallery</a></li>
      </ul>
      <div class="logout">
        <a href="#">Logout
          <i class="fas  fa-arrow-right-from-bracket"></i>
        </a>
        <!-- <a href="#">Logout<i class="fab fa-instagram"></i></a> -->
      </div>
    </div>
    <div class="main_content">
      <div class="header">
        <div class="search-bar">
          <input type="text" class="form-control" placeholder="Search for members..." autocomplete="off">
          <button class="search-button"><i class="fas fa-magnifying-glass"></i></button>
        </div>
        <div class="profile">
          <i class="fas fa-bell"></i>
          <div class="user">
            <img class="user-photo" src="{% static "/images/profile.jpg" %}" alt="Robert Muhoho">
          </div>
        </div>
      </div>
    <div class="member-profile">
        {% for member in members %}
    <div class="head">
        <h3>{{ member.name }}</h3>
        <a href="edit-profile.html">
            <button class="edit-button">
                <i style="padding-right: 12px;" class="fa fa-edit"></i>
                Edit Profile
            </button>
        </a>
    </div>
    <hr style="opacity: 0.2;">
    <div class="details">
        <div class="left">
            <div class="left-one" style="margin-right: 100px;">
                <div class="dateofbirth">
                    <h4 for="dateofbirth">Date of Birth</h4><br>
                    {{ member.dob }}
                </div>
                <div class="phone">
                    <h4 for="phone">Phone</h4><br>
                    {{ member.phone }}
                </div>
            </div>
            <div class="left-two">
                <div class="email">
                    <h4 for="email">Email</h4><br>
                    {{ member.email }}
                </div>
                <div class="parents">
                    <h4 for="parents">Parents</h4><br>
                    {{ member.parent }}
                </div>
            </div>
        </div>
        <div class="right">
            <img class="image" src="{{ member.photo.url }}" alt="Upload Image">
        </div>
    </div>
    {% endfor %}
</div>

    </div>
    </div>
</body>

</html>

{% endblock %}