{% extends 'base.html' %}

{% block content %}
    {% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Dashboard | Family</title>
  <script src="https://kit.fontawesome.com/a1211d0a86.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/css/tree.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/tree.css' %}"/>
</head>

<body>

  <div class="wrapper">
    <div class="sidebar">
      <h2>NGAMBI FAMILY</h2>
      <ul>
        <li><a href="{% url 'home' %}"><i class="fas fa-home"></i>Dashboard</a></li>
        <li class="active"><a href="{% url 'tree' %}"><i class="fas fa-people-group"></i>Family Tree</a></li>
        <li><a href="{% url 'member' %}"><i class="fas fa-user"></i>Profile</a></li>
        <li><a href="{% url 'images' %}"><i class="fas fa-image"></i>Gallery</a></li>
      </ul>
      <div class="logout">
        <a href="#">Logout
          <i class="fas  fa-arrow-right-from-bracket"></i>
        </a>
        <!-- <a href="#">Logout<i class="fab fa-instagram"></i></a> -->
      </div>
    </div>
    <div class="main_content">
      <div class="header">
        <div class="search-bar">
          <input type="text" class="form-control" placeholder="Search for members..." autocomplete="off">
          <button class="search-button"><i class="fas fa-magnifying-glass"></i></button>
        </div>
        <div class="profile">
          <div class="user">
            <img class="user-photo" src="{{ request.session.user_photo_url }}" alt="{{ request.session.user_name }}">
          </div>
        </div>
      </div>

      <div class="tree">
    <div class="family-tree">
        <h3>Family Tree</h3>
        <hr class="divider">
        <div class="grid-container">
        <!-- <div class="cards"> -->
        
            {% for member in family_members %}
            <div class="grid-item">
            <div class="card"> 
                <img src="{{ member.photo.url }}" alt="Avatar" style="width:100%">
                <div class="container">
                    <h3><b>{{ member.name }}</b></h3>
                    <hr style="opacity: 0.2">
                    <h4 style="margin-top: 12px; font-weight: 500;">Parents</h4>
                    <p style="font-size: 12px; margin-top: 5px; color:#888">{{ member.parent }}</p>
                    <h4 style="margin-top: 12px; font-weight: 500;">Siblings</h4>
                    {% for sibling in member.siblings.all %}
                    <p style="font-size: 12px; margin-top: 5px; color:#888; margin-bottom: 10px;">{{ sibling.name }}</p>
                    {% endfor %}
                </div>
            </div>
            </div>
            {% endfor %}
        <!-- </div> -->
      </div>
    </div>
</div>



    </div>
  </div>

</body>

</html>
{% endblock %}